.doctors__name{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 5px 0 0 0;
}

@media screen and (max-width: 620px) {
    .doctors__name{
        font-size: 18px;
        line-height: 18px;
        margin: 5px 0 0;
    }
}