.slick-list {
    overflow: hidden;
    max-width: 1100px;
}

.slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-arrow{
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 59px;
    height: 35px;
    border: none;
    padding: 0;
    bottom: 0;
}

.slick-arrow.slick-prev{
    background: url(../../../images/DoctorsLeft.svg) no-repeat;
    background-size: cover;
    left: 550px;

}

.slick-arrow.slick-next{
    background: url(../../../images/DoctorsRight.svg);
    background-size: cover;
    right: 550px;
}

.slider{
    position: relative;
    width: 1250px;
    height: 480px;
    margin: 0 auto;
}