.price__subtitle{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #616161;
    background: #E7E7E7;
    margin: 0;
    min-height: 40px;
    padding: 0 8px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
}

.price__subtitle:last-child{
    justify-content: flex-end;
}

@media screen and (max-width: 620px) {
    .price__subtitle{
        font-size: 12px;
        line-height: 100%;
        min-height: 30px;
    }
}