.adress__subtitle{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 20px 0 0 0;
}

@media screen and (max-width: 670px) {
    .adress__subtitle{
        font-size: 14px;
        line-height: 14px;
        margin: 10px 0 0 0;
    }
} 