.footer__img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.footer__link{
    margin:  0;
}

@media screen and (max-width: 750px) {
    .footer__link{
        margin: 30px 30px 0 0;
    }
} 

@media screen and (max-width: 560px) {
    .footer__img{
        width: 30px;
        height: 30px;
    }

    .footer__link{
        margin: 20px 20px 0 0;
    }
} 
