.clinic{
    width: 100%;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 810px) {
    .clinic{
        flex-direction: column;
    }
}


@media screen and (max-width: 590px) {
    .clinic{
        padding-top: 120px;
    }
}