.menu__line{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 30px 0 10px ;
    /* position: relative; */   
}

@media screen and (max-width: 590px) {
    .menu__line{
        /* display: flex; */
        justify-content: flex-start;
        /* align-items: flex-end; */
        padding: 0;
        height: 75px;
        z-index: 10;
    }
} 


