.menu__line{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 30px 0 10px ;
}

@media screen and (max-width: 590px) {
    .menu__line{
        position: relative;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        overflow: auto;
    }
} 


