.menu__entry{
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #007BB6;
    border-radius: 5px;;
    margin: -7px 0 0 50px;
}

@media screen and (max-width: 590px) {
    .menu__entry{
        margin: 0;
        position: absolute;
        top: -1000px;
        right: 10%;
    }
} 