.info__block-two{
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 0 30px;
}

@media screen and (max-width: 1120px) {
    .info__block-two{
        grid-template-columns: 200px 200px;
        gap: 0 15px;
    }
}

@media screen and (max-width: 500px) {
    .info__block-two{
        grid-template-columns: 150px 150px;
        gap: 0 10px;
    }
}