.stock__title{
    margin: 0 220px 0 10px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #FFFFFF;
    max-width: 100%;
    text-align: start;
}

@media screen and (max-width: 1000px) {
    .stock__title{
        margin: 0 100px 0 10px;
        font-size: 40px;
        line-height: 45px;
    }
} 

@media screen and (max-width: 700px) {
    .stock__title{
        margin: 0 30px 0 10px;
        font-size: 40px;
        line-height: 45px;
    }
} 

@media screen and (max-width: 500px) {
    .stock__title{
        margin: 0 30px 0 10px;
        font-size: 25px;
        line-height: 27px;
    }
} 