.footer__title{
    font-family: 'Cormorant Infant';
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 0 20px 0;
}

@media screen and (max-width: 560px) {
    .footer__title{
        font-size: 15px;
        line-height: 15px;
        margin: 0 0 10px 0;
    }
}