.services__button-services{
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #007BB6;
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #007BB6;
    text-decoration: none;
}

@media screen and (max-width: 730px) {
    .services__button-services{
        width: 100px;
        height: 40px;
        padding: 0;
        margin: 0 0 0 20px;
    
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
    }
} 