.adress__item-img{
    width: 52px;
    height: 52px;
    margin-right: 50px;
    object-fit: cover;
}

.adress__item-img:last-child{
    margin: 0;
}

@media screen and (max-width: 670px) {
    .adress__item-img{
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }
} 