.header__link{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 780px) {
    .header__link{
        font-size: 22px;
        line-height: 22px;
    }
} 

@media screen and (max-width: 590px) {
    .header__link{
        font-size: 18px;
        line-height: 18px;
    }
} 