.stock__button{
    border: none;
    background: #FFFFFF;
    border-radius: 10px;
    min-width: 250px;
    height: 70px;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #007BB6;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .stock__button{
        min-width: 170px;
        height: 40px;
        font-size: 22px;
        line-height: 24px;
    }
} 

@media screen and (max-width: 700px) {
    .stock__button{
        margin: 30px 0 0;
    }
} 

@media screen and (max-width: 500px) {
    .stock__button{
        min-width: 150px;
        height: 40px;
        font-size: 18px;
        line-height: 20px;
    }
} 