.services__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 130px;
    margin-bottom: 90px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1010px) {
    .services__item{
        background-size: 70%;
        width: 100px;
        height: 100px;
        margin-bottom: 65px;
    }
}
@media screen and (max-width: 850px) {
    .services__item{
        background-size: 70%;
        width: 100px;
        height: 100px;
        margin: 0 65px 0 0;
    }
}

@media screen and (max-width: 730px) {
    .services__item{
        background-size: 60%;
        width: 75px;
        height: 75px;
        margin: 0 35px 0 0;
    }
} 

@media screen and (max-width: 430px) {
    .services__item{
        background-size: 50%;
        width: 50px;
        height: 50px;
        margin: 0 30px 0 0;
    }
} 

.services__item:last-child{
    margin: 0;
}

.treatment{
    background-image: url(../../../images/IntroTreatment.svg);
}

.orthopedics{
    background-image: url(../../../images/IntroOrthopedics.svg);
}

.hygiene{
    background-image: url(../../../images/IntroHygiene.svg);
}

.whitening{
    background-image: url(../../../images/IntroWhitening.svg);
}