.intro__block{
    min-width: 240px;
    max-height: 236px;
    border: 2px solid #007BB6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 820px) {
    .intro__block{
        min-width: 200px;
        max-height: 200px;
    }
} 

@media screen and (max-width: 590px) {
    .intro__block{
        min-width: 140px;
        max-height: 140px;
    }
} 