.menu__link {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #007BB6;
    text-decoration: none;
}

@media screen and (max-width: 690px) {
    .menu__link {
        font-size: 14px;
        line-height: 14px;
    }
} 


