.header__button{
    background: #007BB6;
    border-radius: 5px;
    width: 255px;
    height: 64px;
    border: none;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 780px) {
    .header__button{
        width: 170px;
        height: 40px;
        margin-top: 45px;
    }
} 

@media screen and (max-width: 590px) {
    .header__button{
        width: 120px;
        height: 30px;
        margin-top: 25px;
    }
} 