.reviews__comment{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    margin: 15px 0 0;
}

@media screen and (max-width: 800px) {
    .reviews__comment{
        font-size: 13px;
        line-height: 15px;
        margin: 5px 0 0;
    }
}

@media screen and (max-width: 700px) {
    .reviews__comment{
        font-size: 15px;
        line-height: 15px;
        margin: 20px 0 0;
    }
}

@media screen and (max-width: 700px) {
    .reviews__comment{
        font-size: 13px;
        line-height: 13px;
        margin: 15px 0 0;
    }
}