.dentists__image{
    width: 255px;
    object-fit: cover;
    height: 370px;
}

@media screen and (max-width: 500px) {
    .dentists__image{
        width: 200px;
        object-fit: cover;
        height: 300px;
    }
}