.doctors__block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 327px;
    height: 320px;
    border: 2px solid rgba(0, 123, 182, 0.68);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit: cover;
}

.doctors__one{
    background-image: url(../../../images/DoctorI.png);
}

.doctors__two{
    background-image: url(../../../images/DoctorN.png);
}

.doctors__three{
    background-image: url(../../../images/DoctorAr.png);
}

.doctors__for{
    background-image: url(../../../images/DoctorK.png);
}

.doctors__five{
    background-image: url(../../../images/DoctorA.png);
}
.doctors__six{
    background-image: url(../../../images/DoctorO.png);
}

@media screen and (max-width: 620px) {
    .doctors__block{
        width: 290px;
        height: 280px;
        border: 1px solid rgba(0, 123, 182, 0.68);
    }
}