.document{
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 810px) {
    .document{
        flex-direction: column;
    }
}

@media screen and (max-width: 590px) {
    .document{
        padding-top: 120px;
    }
}
