.intro__paragrath{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    color: #007BB6;
    margin-top: 50px;
}

@media screen and (max-width: 590px) {
    .intro__paragrath{
        font-size: 18px;
        line-height: 22px;
        margin-top: 20px;
    }
} 