.services__subtitle{
    font-family: 'Cormorant Infant';
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin: 30px 0 16px;
    white-space: nowrap;
}

@media screen and (max-width: 1010px) {
    .services__subtitle{
        font-size: 20px;
        line-height: 20px;
        margin: 20px 0 10px;
    }
} 

@media screen and (max-width: 430px) {
    .services__subtitle{
        font-size: 16px;
        line-height: 16px;
        margin: 10px 0 8px;
    }
} 