.services__image{
    max-width: 256px;
    height: 228px;
    border-radius: 5px;
    object-fit: cover;
}

@media screen and (max-width: 1010px) {
    .services__image{
        max-width: 200px;
        height: 170px;

    }
} 

@media screen and (max-width: 730px) {
    .services__image{
        display: none;
    }
} 