.doctors__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90px;
    background: #FFFFFF;
}

@media screen and (max-width: 620px) {
    .doctors__text{
        height: 60px;
    }
}