.price__title{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0;
    height: 60px;
    background: #98BDDF;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
}

@media screen and (max-width: 620px) {
    .price__title{
        width: 310px;
        margin: 20px 0 0;
        height: 40px;
        font-size: 18px;
        line-height: 20px;;
    }
}