.stock__block{
    width: 100%;
    height: 180px;
    background: #98BDDF;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .stock__block{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
} 