.clinic-info__title{
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #000000;
    margin: 0;
}

@media screen and (max-width: 1130px) {
    .clinic-info__title{
        font-size: 36px;
        line-height: 100%;
    }
}

@media screen and (max-width: 865px) {
    .clinic-info__title{
        font-size: 25px;
        line-height: 90%;
    }
}

@media screen and (max-width: 560px) {
    .clinic-info__title{
        font-size: 18px;
        line-height: 100%;
    }
}