.reviews__btn-right{
    background: url(../../../images/DoctorsRight.svg);
    background-size: cover;
    width: 59px;
    height: 35px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .reviews__btn-right{
        width: 30px;
        height: 16px;
    }
}
