.reviews__btn-right{
    background: url(../../../images/DoctorsRight.png);
    background-size: cover;
    width: 59px;
    height: 59px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 500px) {
    .reviews__btn-right{
        width: 30px;
        height: 30px;
    }
}
