.services__two-columns{
    display: flex;
    justify-content: center;
    padding: 50px 30px 0 80px;
}

@media screen and (max-width: 730px) {
    .services__two-columns{
        padding: 50px 0 0;
    }
} 

@media screen and (max-width: 430px) {
    .services__two-columns{
        padding: 30px 0 0;
    }
} 