.photo__btn-right{
    background: url(../../../images/DoctorsRight.svg);
    margin: 0 0 0 30px;
    background-size: cover;
    width: 59px;
    height: 35px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 810px) {
    .photo__btn-right{
        margin: 0 0 0 10px;
        width: 30px;
        height: 16px;
    }
}

@media screen and (max-width: 440px) {
    .photo__btn-right{
        margin: 0 0 0 5px;
        width: 25px;
        height: 14px;
    }
}